@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed|Roboto');

body {
  font-family: Helvetica, Arial, sans-serif
  


}

// target whole class = .classname

// classes were cinema and cinemayear


.Cinema{


font-family: 'Roboto', sans-serif;

}




.cinemaYear{

font-family: 'Encode Sans Condensed', sans-serif;



}

}